DATABASE_URL="postgresql://neondb_owner:npg_8pqFP6BtlOYu@ep-bitter-thunder-ao93cyd9-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

AUTH_SECRET="cb46c3f93b51d7adcf1a34ae2f5a51b835887b57b0c20a2b56eef228765ab8ad"
AUTH_URL="http://localhost:3000"
NEXTAUTH_URL="http://localhost:3000"
